<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta content="Chest Xray" name="dcterms.title"/>
<meta content="Chest Xray template :: Authored by Kahn CE Jr" name="dcterms.description"/>
<meta content="http://www.radreport.org/template/0000102" name="dcterms.identifier"/>
<meta content="en" name="dcterms.language"/>
<meta content="IMAGE_REPORT_TEMPLATE" name="dcterms.type"/>
<meta content="Radiological Society of North America (RSNA)" name="dcterms.publisher"/>
<meta content="May be used gratis, subject to license agreement" name="dcterms.rights"/>
<meta content="http://www.radreport.org/license.pdf" name="dcterms.license"/>
<meta content="2012-03-28" name="dcterms.date"/>
<meta content="Kahn CE Jr" name="dcterms.creator"/>
<meta content="Kahn CE Jr [editor]" name="dcterms.contributor"/>
<meta content="Medical College of Wisconsin (MCW)" name="dcterms.contributor"/>
<link rel="stylesheet" type="text/css" href="IHE_Template_Style.css"/>
<!-- The absolute link to the CSS file is http://www.radreport.org/html/IHE_Template_Style.css -->
<script type="text/xml">
<!--
<template_attributes>
<top-level-flag>true</top-level-flag>
<status>ACTIVE</status>
<coding_schemes>
 <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
 <coding_scheme name="SNOMEDCT" designator="2.16.840.1.113883.6.96" />
 <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
</coding_schemes>
<term>
 <code meaning="projection radiography" value="RID10345" scheme="RadLex">
</term>
<term>
 <code meaning="thorax" value="RID1243" scheme="RadLex">
</term>
<coded_content>
<entry ORIGTXT="T102_2">
 <term>
  <code meaning="procedure" value="RID1559" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T102_7">
 <term>
  <code meaning="clinical information" value="RID13166" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T102_12">
 <term>
  <code meaning="comparison" value="RID28483" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T102_15">
 <term>
  <code meaning="heart" value="RID1385" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T102_17">
 <term>
  <code meaning="lungs" value="RID13437" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T102_20">
 <term>
  <code meaning="set of bones" value="RID28569" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T102_23">
 <term>
  <code meaning="impression section" value="RID13170" scheme="RadLex">
 </term>
</entry>
</coded_content>
</template_attributes>
-->
</script>
<title>Chest Xray</title>
</head>
<body>
<section data-section-name="Procedure">
<header class="level1">Chest Xray</header>
<p>
<textarea id="T102_2" name="Procedure">PA and lateral views. </textarea>
</p>
</section>
<section data-section-name="Clinical information">
<header class="level1">Clinical information</header>
<p>
<textarea id="T102_7" name="Clinical information"> </textarea>
</p>
</section>
<section data-section-name="Comparison">
<header class="level1">Comparison</header>
<p>
<textarea id="T102_12" name="Comparison">None. </textarea>
</p>
</section>
<section data-section-name="Findings">
<header class="level1">Findings</header>
<p>
<label for="T102_15">Heart:</label>
<input type="text" id="T102_15" name="Heart" value="Normal."/>
</p>
<p>
<label for="T102_17">Lungs:</label>
<input type="text" id="T102_17" name="Lungs" value="Normal."/>
</p>
<p>
<label for="T102_20">Bones:</label>
<input type="text" id="T102_20" name="Bones" value="Normal."/>
</p>
</section>
<section data-section-name="Impression">
<header class="level1">Impression</header>
<p>
<textarea id="T102_23" name="Impression">No acute disease. </textarea>
</p>
</section>
</body>
</html>
