<!DOCTYPE html>
<html>
<head>
    <title>HRCT Pneumokoniosen</title>
    <meta charset="UTF-8">
    <!--Dublin Core metadata elements here-->
    <meta name="dcterms.title" content="HRCT Pneumokoniosen">
    <meta name="dcterms.description" content="Befundungstemplate für Pneumokoniosen (L2, Version 1, inkl. Javascript)">
    <meta name="dcterms.identifier" content="DRG.ct.hr_pneumokoniose">
    <meta name="dcterms.type" content="IMAGE_REPORT_TEMPLATE">
    <meta name="dcterms.language" content="de">
    <meta name="dcterms.rights" content="May be used freely, subject to license agreement">
    <meta name="dcterms.license" content="http://www.radreport.org/license.pdf">
    <meta name="dcterms.date" content="2017-04-24">
    <meta name="dcterms.creator" content="Pinto dos Santos D">
    <meta name="dcterms.contributor" content="Schadmand-Fischer S, Arnhold G">
    <meta name="dcterms.publisher" content="Deutsche Röntgengesellschaft (DRG)">

    <!--Link to Stylesheet-->
    <script type="text/xml">
        <!--
        <template_attributes>
        <top-level-flag>0</top-level-flag>
        <status>ACTIVE</status>
        </template_attributes>
		-->
    </script>

    <!--Link to Stylesheet-->
    <style type="text/css">
        textarea { width:500px; height: 50px; }
        td { padding-left: 15px; vertical-align: top; }
    </style>
</head>

<body onload="hideAll(); lockAll();">
    
    <script type="text/javascript">
        
        function hideAll () {
            document.getElementById("cthr_pneumoko_befunde").style.display = "none";
            document.getElementById("cthr_pneumokon_rdlschatten_gr").style.display = "none";
            document.getElementById("cthr_pneumokon_rdlschatten_str").style.display = "none";
            document.getElementById("cthr_pneumokon_irrschatten_typ").style.display = "none";
            document.getElementById("cthr_pneumokon_irrschatten_str").style.display = "none";
            document.getElementById("cthr_pneumokon_gglass_str").style.display = "none";
            document.getElementById("cthr_pneumokon_honeyc_str").style.display = "none";
            document.getElementById("cthr_pneumokon_emphy_str").style.display = "none";
            document.getElementById("cthr_pneumokon_grscha_typ").style.display = "none";
            document.getElementById("cthr_pneumokon_grscha_str").style.display = "none";
            document.getElementById("cthr_pneumokon_pleura_typ").style.display = "none";
            document.getElementById("cthr_pneumokon_pleura_str").style.display = "none";
            document.getElementById("cthr_pneumokon_pleura_ausd").style.display = "none";
            document.getElementById("cthr_pneumokon_pleuraka_str").style.display = "none";
            document.getElementById("cthr_pneumokon_pleura_cpw").style.display = "none";
        }
        function lockAll () {
            document.getElementById("cthr_pneumokon_rdlschatten_gesstr").readOnly = true;
            document.getElementById("cthr_pneumokon_irrschatten_gesstr").readOnly = true;
            document.getElementById("cthr_pneumokon_gglass_gesstr").readOnly = true;
            document.getElementById("cthr_pneumokon_honeyc_gesstr").readOnly = true;
            document.getElementById("cthr_pneumokon_emphy_gesstr").readOnly = true;
        }
        
        function radiobuttonize(boxCalling, boxAffected) {
            if (document.getElementById(boxCalling).checked) {
                document.getElementById(boxAffected).checked = false;
            }
        }
        
        function showField (callingElement, affectedElement) {
            
            var elementValue = document.getElementById(callingElement).value;
            var elementValue = Number(elementValue);
                        
            if ( elementValue == 1 ) {
                document.getElementById(affectedElement).style.display = "table";
            } else {
                document.getElementById(affectedElement).style.display = "none"
            }
        }
        
        function calcStreu ( selection ) {
            strRO = Number(document.getElementById(selection + '_strRO').value);
            strLO = Number(document.getElementById(selection + '_strLO').value);
            strRM = Number(document.getElementById(selection + '_strRM').value);
            strLM = Number(document.getElementById(selection + '_strLM').value);
            strRU = Number(document.getElementById(selection + '_strRU').value);
            strLU = Number(document.getElementById(selection + '_strLU').value);
            gesstr = strRO + strLO + strRM + strLM + strRU + strLU;
            document.getElementById(selection + '_gesstr').value = gesstr;        
        }
    
        if (window.jQuery) {
            $(document).ready(function(){
                hideAll();
            });
        }
        
    </script>
    
    <section data-section-name="Clinical information">
        <header class="level1" data-english="Clinical information">Klinische Angaben</header>
        <table>
            <tr>
                <td colspan="2"><textarea name="ct_pneumokoniose_angaben" id="ct_pneumokoniose_angaben"></textarea></td>
            </tr>
            <tr>
                <td><label for="ct_pneumokoniose_technik">Technik</label></td>
                <td><input name="ct_pneumokoniose_technik" id="ct_pneumokoniose_technik" value="Low-Dose HR-CT"></td>
            </tr>
            <tr>
                <td><label for="ct_pneumokoniose_position">Position</label></td>
                <td>
                    <input name="ct_pneumokoniose_position_prone" id="ct_pneumokoniose_position_prone" type="checkbox" checked>Rückenlage<br />
                    <input name="ct_pneumokoniose_position_supine" id="ct_pneumokoniose_position_supine" type="checkbox">Bauchlage
                </td>
            </tr>
        </table>
    </section>
    
    <hr>
    
    <section data-section-name="Clinical question">
        <header class="level1" data-english="Clinical question">Fragestellung</header>
        <table>
            <tr>
                <td><textarea name="ct_pneumokoniose_fragest" id="ct_pneumokoniose_fragest"></textarea></td>
            </tr>
        </table>
    </section>
    
    <hr>
    
    <section data-section-name="Befunde">
        <header class="level1" data-english="Findings">Befund</header>
        
        <table>
            <tr>
                <td><label for="cthr_pneumoko_opb">Gesamtes CT ohne Befund</label></td>
                <td>
                    <select id="cthr_pneumoko_opb" name="cthr_pneumoko_opb" onchange="showField('cthr_pneumoko_opb','cthr_pneumoko_befunde');">
                        <option value="-1">-</option>
                        <option value="0">ja</option>
                        <option value="1">nein*</option>
                    </select>
                </td>
            </tr>
        </table>
        
        <div id="cthr_pneumoko_befunde">
        
        <p>Lunge</p>
        
        <table>
            <!-- rundliche Schatten -->
            <tr>
                <td><label for="cthr_pneumokon_rdlschatten">Rundliche Verdichtung</label></td>
                <td>
                    <select id="cthr_pneumokon_rdlschatten" name="cthr_pneumokon_rdlschatten" onchange="showField('cthr_pneumokon_rdlschatten','cthr_pneumokon_rdlschatten_gr'); showField('cthr_pneumokon_rdlschatten','cthr_pneumokon_rdlschatten_str')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>
                    <table id="cthr_pneumokon_rdlschatten_gr">
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><label for="cthr_pneumokon_rdlschatten_hGr">häufigste Größe</label></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_rdlschatten_Pyn">P: &lt; 1,5mm</label></td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_rdlschatten_Py" id="cthr_pneumokon_rdlschatten_Py" onchange="radiobuttonize('cthr_pneumokon_rdlschatten_Py', 'cthr_pneumokon_rdlschatten_Pn')"> ja <input type="checkbox" name="cthr_pneumokon_rdlschatten_Pn" id="cthr_pneumokon_rdlschatten_Pn" onchange="radiobuttonize('cthr_pneumokon_rdlschatten_Pn', 'cthr_pneumokon_rdlschatten_Py')"> nein
                            </td>
                            <td><input type="checkbox" name="cthr_pneumokon_rdlschatten_hGrP" id="cthr_pneumokon_rdlschatten_hGrP"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_rdlschatten_Qyn">Q: 1,5 - 3,0mm</label></td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_rdlschatten_Qy" id="cthr_pneumokon_rdlschatten_Qy" onchange="radiobuttonize('cthr_pneumokon_rdlschatten_Qy', 'cthr_pneumokon_rdlschatten_Qn')"> ja <input type="checkbox" name="cthr_pneumokon_rdlschatten_Qn" id="cthr_pneumokon_rdlschatten_Qn" onchange="radiobuttonize('cthr_pneumokon_rdlschatten_Qn', 'cthr_pneumokon_rdlschatten_Qy')"> nein
                            </td>
                            <td><input type="checkbox" name="cthr_pneumokon_rdlschatten_hGrQ" id="cthr_pneumokon_rdlschatten_hGrQ"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_rdlschatten_Ryn">R: 3,1 - 10,0 mm</label></td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_rdlschatten_Ry" id="cthr_pneumokon_rdlschatten_Ry" onchange="radiobuttonize('cthr_pneumokon_rdlschatten_Ry', 'cthr_pneumokon_rdlschatten_Rn')"> ja <input type="checkbox" name="cthr_pneumokon_rdlschatten_Rn" id="cthr_pneumokon_rdlschatten_Rn" onchange="radiobuttonize('cthr_pneumokon_rdlschatten_Rn', 'cthr_pneumokon_rdlschatten_Ry')"> nein
                            </td>
                            <td><input type="checkbox" name="cthr_pneumokon_rdlschatten_hGrR" id="cthr_pneumokon_rdlschatten_hGrR"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="cthr_pneumokon_rdlschatten_str">
                        <tr>
                            <td>Felder / Streuung</td>
                            <td><label for="cthr_pneumokon_rdlschatten_strR">rechts</label></td>
                            <td><label for="cthr_pneumokon_rdlschatten_strL">links</label></td>
                            <td><label for="cthr_pneumokon_rdlschatten_strG">Gesamtstreuung</label></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_rdlschatten_strO">O</label></td>
                            <td>
                                <select name="cthr_pneumokon_rdlschatten_strRO" id="cthr_pneumokon_rdlschatten_strRO" onchange="calcStreu('cthr_pneumokon_rdlschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_rdlschatten_strLO" id="cthr_pneumokon_rdlschatten_strLO" onchange="calcStreu('cthr_pneumokon_rdlschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td rowspan="3"><input name="cthr_pneumokon_rdlschatten_gesstr" id="cthr_pneumokon_rdlschatten_gesstr" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_rdlschatten_strM">M</label></td>
                            <td>
                                <select name="cthr_pneumokon_rdlschatten_strRM" id="cthr_pneumokon_rdlschatten_strRM" onchange="calcStreu('cthr_pneumokon_rdlschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_rdlschatten_strLM" id="cthr_pneumokon_rdlschatten_strLM" onchange="calcStreu('cthr_pneumokon_rdlschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td>
                                <select name="cthr_pneumokon_rdlschatten_strRU" id="cthr_pneumokon_rdlschatten_strRU" onchange="calcStreu('cthr_pneumokon_rdlschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_rdlschatten_strLU" id="cthr_pneumokon_rdlschatten_strLU" onchange="calcStreu('cthr_pneumokon_rdlschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- irreguläre Schatten -->
            <tr>
                <td><label for="cthr_pneumokon_irrschatten">irreguläre und/oder lineare Verdichtung</label></td>
                <td>
                    <select id="cthr_pneumokon_irrschatten" name="cthr_pneumokon_irrschatten" onchange="showField('cthr_pneumokon_irrschatten','cthr_pneumokon_irrschatten_typ'); showField('cthr_pneumokon_irrschatten','cthr_pneumokon_irrschatten_str')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>
                    <table id="cthr_pneumokon_irrschatten_typ">
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><label for="cthr_pneumokon_irrschatten_hTyp">häufigster Typ</label></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_irrschatten_intrayn">intralobulär</label></td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_irrschatten_intray" id="cthr_pneumokon_irrschatten_intray" onchange="radiobuttonize('cthr_pneumokon_irrschatten_intray', 'cthr_pneumokon_irrschatten_intran')"> ja <input type="checkbox" name="cthr_pneumokon_irrschatten_intran" id="cthr_pneumokon_irrschatten_intran" onchange="radiobuttonize('cthr_pneumokon_irrschatten_intran', 'cthr_pneumokon_irrschatten_intray')"> nein
                            </td>
                            <td><input type="checkbox" name="cthr_pneumokon_irrschatten_hTyp_intra" id="cthr_pneumokon_irrschatten_hTyp_intra"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_irrschatten_interyn">interlobulär</label></td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_irrschatten_intery" id="cthr_pneumokon_irrschatten_intery" onchange="radiobuttonize('cthr_pneumokon_irrschatten_intery', 'cthr_pneumokon_irrschatten_intern')"> ja <input type="checkbox" name="cthr_pneumokon_irrschatten_intern" id="cthr_pneumokon_irrschatten_intern" onchange="radiobuttonize('cthr_pneumokon_irrschatten_intern', 'cthr_pneumokon_irrschatten_intery')"> nein
                            </td>
                            <td><input type="checkbox" name="cthr_pneumokon_irrschatten_hTyp_inter" id="cthr_pneumokon_irrschatten_hTyp_inter"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="cthr_pneumokon_irrschatten_str">
                        <tr>
                            <td>Felder / Streuung</td>
                            <td><label for="cthr_pneumokon_irrschatten_strR">rechts</label></td>
                            <td><label for="cthr_pneumokon_irrschatten_strL">links</label></td>
                            <td><label for="cthr_pneumokon_irrschatten_strG">Gesamtstreuung</label></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_irrschatten_strO">O</label></td>
                            <td>
                                <select name="cthr_pneumokon_irrschatten_strRO" id="cthr_pneumokon_irrschatten_strRO" onchange="calcStreu('cthr_pneumokon_irrschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_irrschatten_strLO" id="cthr_pneumokon_irrschatten_strLO" onchange="calcStreu('cthr_pneumokon_irrschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td rowspan="3"><input name="cthr_pneumokon_irrschatten_gesstr" id="cthr_pneumokon_irrschatten_gesstr" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_irrschatten_strM">M</label></td>
                            <td>
                                <select name="cthr_pneumokon_irrschatten_strRM" id="cthr_pneumokon_irrschatten_strRM" onchange="calcStreu('cthr_pneumokon_irrschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_irrschatten_strLM" id="cthr_pneumokon_irrschatten_strLM" onchange="calcStreu('cthr_pneumokon_irrschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td>
                                <select name="cthr_pneumokon_irrschatten_strRU" id="cthr_pneumokon_irrschatten_strRU" onchange="calcStreu('cthr_pneumokon_irrschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_irrschatten_strLU" id="cthr_pneumokon_irrschatten_strLU" onchange="calcStreu('cthr_pneumokon_irrschatten')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- inhomogene Verschattung -->
            <tr>
                <td><label for="cthr_pneumokon_inhdicht">inhomogene Dichte</label></td>
                <td>
                    <select name="cthr_pneumokon_inhdicht" id="cthr_pneumokon_inhdicht">
                        <option value="-1">-</option>
                        <option value="1">ja</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <!-- Ground glass -->
            <tr>
                <td><label for="cthr_pneumokon_gglass">Ground glass</label></td>
                <td>
                    <select id="cthr_pneumokon_gglass" name="cthr_pneumokon_gglass" onchange="showField('cthr_pneumokon_gglass','cthr_pneumokon_gglass_str')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>&nbsp;</td>
                <td>
                    <table id="cthr_pneumokon_gglass_str">
                        <tr>
                            <td>Felder / Streuung</td>
                            <td><label for="cthr_pneumokon_gglass_strR">rechts</label></td>
                            <td><label for="cthr_pneumokon_gglass_strL">links</label></td>
                            <td><label for="cthr_pneumokon_gglass_strG">Gesamtstreuung</label></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_gglass_strO">O</label></td>
                            <td>
                                <select name="cthr_pneumokon_gglass_strRO" id="cthr_pneumokon_gglass_strRO" onchange="calcStreu('cthr_pneumokon_gglass')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_gglass_strLO" id="cthr_pneumokon_gglass_strLO" onchange="calcStreu('cthr_pneumokon_gglass')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td rowspan="3"><input name="cthr_pneumokon_gglass_gesstr" id="cthr_pneumokon_gglass_gesstr" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_gglass_strM">M</label></td>
                            <td>
                                <select name="cthr_pneumokon_gglass_strRM" id="cthr_pneumokon_gglass_strRM" onchange="calcStreu('cthr_pneumokon_gglass')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_gglass_strLM" id="cthr_pneumokon_gglass_strLM" onchange="calcStreu('cthr_pneumokon_gglass')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td>
                                <select name="cthr_pneumokon_gglass_strRU" id="cthr_pneumokon_gglass_strRU" onchange="calcStreu('cthr_pneumokon_gglass')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_gglass_strLU" id="cthr_pneumokon_gglass_strLU" onchange="calcStreu('cthr_pneumokon_gglass')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Honeycombing -->
            <tr>
                <td><label for="cthr_pneumokon_honeyc">Honeycombing</label></td>
                <td>
                    <select id="cthr_pneumokon_honeyc" name="cthr_pneumokon_honeyc" onchange="showField('cthr_pneumokon_honeyc','cthr_pneumokon_honeyc_str')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>&nbsp;</td>
                <td>
                    <table id="cthr_pneumokon_honeyc_str">
                        <tr>
                            <td>Felder / Streuung</td>
                            <td><label for="cthr_pneumokon_honeyc_strR">rechts</label></td>
                            <td><label for="cthr_pneumokon_honeyc_strL">links</label></td>
                            <td><label for="cthr_pneumokon_honeyc_strG">Gesamtstreuung</label></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_honeyc_strO">O</label></td>
                            <td>
                                <select name="cthr_pneumokon_honeyc_strRO" id="cthr_pneumokon_honeyc_strRO" onchange="calcStreu('cthr_pneumokon_honeyc')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_honeyc_strLO" id="cthr_pneumokon_honeyc_strLO" onchange="calcStreu('cthr_pneumokon_honeyc')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td rowspan="3"><input name="cthr_pneumokon_honeyc_gesstr" id="cthr_pneumokon_honeyc_gesstr" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_honeyc_strM">M</label></td>
                            <td>
                                <select name="cthr_pneumokon_honeyc_strRM" id="cthr_pneumokon_honeyc_strRM" onchange="calcStreu('cthr_pneumokon_honeyc')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_honeyc_strLM" id="cthr_pneumokon_honeyc_strLM" onchange="calcStreu('cthr_pneumokon_honeyc')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td>
                                <select name="cthr_pneumokon_honeyc_strRU" id="cthr_pneumokon_honeyc_strRU" onchange="calcStreu('cthr_pneumokon_honeyc')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_honeyc_strLU" id="cthr_pneumokon_honeyc_strLU" onchange="calcStreu('cthr_pneumokon_honeyc')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Emphysem -->
            <tr>
                <td><label for="cthr_pneumokon_emphy">Emphysem</label></td>
                <td>
                    <select id="cthr_pneumokon_emphy" name="cthr_pneumokon_emphy" onchange="showField('cthr_pneumokon_emphy','cthr_pneumokon_emphy_str')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>&nbsp;</td>
                <td>
                    <table id="cthr_pneumokon_emphy_str">
                        <tr>
                            <td>Felder / Streuung</td>
                            <td><label for="cthr_pneumokon_emphy_strR">rechts</label></td>
                            <td><label for="cthr_pneumokon_emphy_strL">links</label></td>
                            <td><label for="cthr_pneumokon_emphy_strG">Gesamtstreuung</label></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_emphy_strO">O</label></td>
                            <td>
                                <select name="cthr_pneumokon_emphy_strRO" id="cthr_pneumokon_emphy_strRO" onchange="calcStreu('cthr_pneumokon_emphy')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_emphy_strLO" id="cthr_pneumokon_emphy_strLO" onchange="calcStreu('cthr_pneumokon_emphy')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td rowspan="3"><input name="cthr_pneumokon_emphy_gesstr" id="cthr_pneumokon_emphy_gesstr" value="0"></td>
                        </tr>
                        <tr>
                            <td><label for="cthr_pneumokon_emphy_strM">M</label></td>
                            <td>
                                <select name="cthr_pneumokon_emphy_strRM" id="cthr_pneumokon_emphy_strRM" onchange="calcStreu('cthr_pneumokon_emphy')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_emphy_strLM" id="cthr_pneumokon_emphy_strLM" onchange="calcStreu('cthr_pneumokon_emphy')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td>
                                <select name="cthr_pneumokon_emphy_strRU" id="cthr_pneumokon_emphy_strRU" onchange="calcStreu('cthr_pneumokon_emphy')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_emphy_strLU" id="cthr_pneumokon_emphy_strLU" onchange="calcStreu('cthr_pneumokon_emphy')">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Große Schatten -->
            <tr>
                <td><label for="cthr_pneumokon_grscha">Konsolidierung &gt; 1cm</label></td>
                <td>
                    <select id="cthr_pneumokon_grscha" name="cthr_pneumokon_grscha" onchange="showField('cthr_pneumokon_grscha','cthr_pneumokon_grscha_typ'); showField('cthr_pneumokon_grscha','cthr_pneumokon_grscha_str')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>
                    <table id="cthr_pneumokon_grscha_typ">
                        <tr><td><input type="checkbox" name="cthr_pneumokon_grscha_typA" id="cthr_pneumokon_grscha_typA"> A</td></tr>
                        <tr><td><input type="checkbox" name="cthr_pneumokon_grscha_typB" id="cthr_pneumokon_grscha_typB"> B</td></tr>
                        <tr><td><input type="checkbox" name="cthr_pneumokon_grscha_typC" id="cthr_pneumokon_grscha_typC"> C</td></tr>
                    </table>
                </td>
                <td>
                    <table id="cthr_pneumokon_grscha_str">
                        <tr>
                            <td>&nbsp;</td>
                            <td>rechts</td>
                            <td>links</td>
                        </tr>
                        <tr>
                            <td>O</td>
                            <td><input type="checkbox" name="cthr_pneumokon_grscha_strRO" id="cthr_pneumokon_grscha_strRO"></td>
                            <td><input type="checkbox" name="cthr_pneumokon_grscha_strLO" id="cthr_pneumokon_grscha_strLO"></td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td><input type="checkbox" name="cthr_pneumokon_grscha_strRM" id="cthr_pneumokon_grscha_strRM"></td>
                            <td><input type="checkbox" name="cthr_pneumokon_grscha_strLM" id="cthr_pneumokon_grscha_strLM"></td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td><input type="checkbox" name="cthr_pneumokon_grscha_strRU" id="cthr_pneumokon_grscha_strRU"></td>
                            <td><input type="checkbox" name="cthr_pneumokon_grscha_strLU" id="cthr_pneumokon_grscha_strLU"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Häufigster parenchymaler Befund -->
            <tr>
                <td>Häufigster parenchymaler Befund</td>
                <td>&nbsp;</td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_hParenBef_RS" id="cthr_pneumokon_hParenBef_RS">RS
                            </td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_hParenBef_IR" id="cthr_pneumokon_hParenBef_IR">IR
                            </td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_hParenBef_GG" id="cthr_pneumokon_hParenBef_GG">GG
                            </td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_hParenBef_HC" id="cthr_pneumokon_hParenBef_HC">HC
                            </td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_hParenBef_EM" id="cthr_pneumokon_hParenBef_EM">EM
                            </td>
                            <td>
                                <input type="checkbox" name="cthr_pneumokon_hParenBef_K" id="cthr_pneumokon_hParenBef_K">K
                            </td>
                        </tr>
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
        
        <p>Pleura</p>
        
        <table>
            <!-- Pleurale Befunde -->
            <tr>
                <td><label for="cthr_pneumokon_pleura">Pleurale Befunde</label></td>
                <td>
                    <select id="cthr_pneumokon_pleura" name="cthr_pneumokon_pleura" onchange="showField('cthr_pneumokon_pleura','cthr_pneumokon_pleura_typ'); showField('cthr_pneumokon_pleura','cthr_pneumokon_pleura_str'); showField('cthr_pneumokon_pleura','cthr_pneumokon_pleura_ausd'); showField('cthr_pneumokon_pleura','cthr_pneumokon_pleura_cpw')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>
                    <table id="cthr_pneumokon_pleura_typ">
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><label for="cthr_pneumokon_pleura_hTyp">häufigster Typ</label></td>
                        </tr>
                        <tr>
                            <td>W - parietaler Typ</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_Wpy" id="cthr_pneumokon_pleura_Wpy" onchange="radiobuttonize('cthr_pneumokon_pleura_Wpy', 'cthr_pneumokon_pleura_Wpn')"> ja <input type="checkbox" name="cthr_pneumokon_pleura_Wpn" id="cthr_pneumokon_pleura_Wpn" onchange="radiobuttonize('cthr_pneumokon_pleura_Wpn', 'cthr_pneumokon_pleura_Wpy')"> nein</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_hTyp_Wp" id="cthr_pneumokon_pleura_hTyp_Wp"></td>
                        </tr>
                        <tr>
                            <td>W - viszeraler Typ</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_Wvy" id="cthr_pneumokon_pleura_Wvy" onchange="radiobuttonize('cthr_pneumokon_pleura_Wvy', 'cthr_pneumokon_pleura_Wvn')"> ja <input type="checkbox" name="cthr_pneumokon_pleura_Wvn" id="cthr_pneumokon_pleura_Wvn" onchange="radiobuttonize('cthr_pneumokon_pleura_Wvn', 'cthr_pneumokon_pleura_Wvy')"> nein</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_hTyp_Wv" id="cthr_pneumokon_pleura_hTyp_Wv"></td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_My" id="cthr_pneumokon_pleura_My" onchange="radiobuttonize('cthr_pneumokon_pleura_My', 'cthr_pneumokon_pleura_Mn')"> ja <input type="checkbox" name="cthr_pneumokon_pleura_Mn" id="cthr_pneumokon_pleura_Mn" onchange="radiobuttonize('cthr_pneumokon_pleura_Mn', 'cthr_pneumokon_pleura_My')"> nein</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_hTyp_M" id="cthr_pneumokon_pleura_hTyp_M"></td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_Dy" id="cthr_pneumokon_pleura_Dy" onchange="radiobuttonize('cthr_pneumokon_pleura_Dy', 'cthr_pneumokon_pleura_Dn')"> ja <input type="checkbox" name="cthr_pneumokon_pleura_Dn" id="cthr_pneumokon_pleura_Dn" onchange="radiobuttonize('cthr_pneumokon_pleura_Dn', 'cthr_pneumokon_pleura_Dy')"> nein</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_hTyp_D" id="cthr_pneumokon_pleura_hTyp_D"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="cthr_pneumokon_pleura_str">
                        <tr>
                            <td>&nbsp;</td>
                            <td>rechts</td>
                            <td>links</td>
                        </tr>
                        <tr>
                            <td>O</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_strRO" id="cthr_pneumokon_pleura_strRO"></td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_strLO" id="cthr_pneumokon_pleura_strLO"></td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_strRM" id="cthr_pneumokon_pleura_strRM"></td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_strLM" id="cthr_pneumokon_pleura_strLM"></td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_strRU" id="cthr_pneumokon_pleura_strRU"></td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleura_strLU" id="cthr_pneumokon_pleura_strLU"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="cthr_pneumokon_pleura_ausd">
                        <tr>
                            <td>&nbsp;</td>
                            <td>rechts</td>
                            <td>links</td>
                        </tr>
                        <tr>
                            <td>Ausdehnung</td>
                            <td>
                                <select name="cthr_pneumokon_pleura_ausdRA" id="cthr_pneumokon_pleura_ausdRA">
                                    <option value="-1">-</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_pleura_ausdLA" id="cthr_pneumokon_pleura_ausdLA">
                                    <option value="-1">-</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Dicke</td>
                            <td>
                                <select name="cthr_pneumokon_pleura_ausdRD" id="cthr_pneumokon_pleura_ausdRD">
                                    <option value="-1">-</option>
                                    <option value="0">0</option>
                                    <option value="1">a</option>
                                    <option value="2">b</option>
                                    <option value="3">c</option>
                                </select>
                            </td>
                            <td>
                                <select name="cthr_pneumokon_pleura_ausdLD" id="cthr_pneumokon_pleura_ausdLD">
                                    <option value="-1">-</option>
                                    <option value="0">0</option>
                                    <option value="1">a</option>
                                    <option value="2">b</option>
                                    <option value="3">c</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    <table id="cthr_pneumokon_pleura_cpw">
                        <tr>
                            <td>Adhärenz CPW</td>
                            <td>R<input type="checkbox" name="cthr_pneumokon_pleura_cpwR" id="cthr_pneumokon_pleura_cpwR"> L<input type="checkbox" name="cthr_pneumokon_pleura_cpwL" id="cthr_pneumokon_pleura_cpwL"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Pleurale Verkalkungen -->
            <tr>
                <td><label for="cthr_pneumokon_pleuraka">Pleurale Verkalkungen</label></td>
                <td>
                    <select id="cthr_pneumokon_pleuraka" name="cthr_pneumokon_pleuraka" onchange="showField('cthr_pneumokon_pleuraka','cthr_pneumokon_pleuraka_str')">
                        <option value="-1">-</option>
                        <option value="1">ja*</option>
                        <option value="0">nein</option>
                    </select>
                </td>
                <td>
                    <table id="cthr_pneumokon_pleuraka_str">
                        <tr>
                            <td>Lokalisation</td>
                            <td><input type="checkbox" name="cthr_pneumokon_pleuraka_strW" id="cthr_pneumokon_pleuraka_strW"> W <input type="checkbox" name="cthr_pneumokon_pleuraka_strM" id="cthr_pneumokon_pleuraka_strM"> M <input type="checkbox" name="cthr_pneumokon_pleuraka_strD" id="cthr_pneumokon_pleuraka_strD"> D</td>
                        </tr>
                    </table>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        
        <p>Symbole</p>
        
        <!-- Symbol-Tabelle -->
        <table>
            <tr>
                <td><input type="checkbox" name="cthr_pneumokon_symb_no" id="cthr_pneumokon_symb_no">nein</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_AX" id="cthr_pneumokon_symb_AX">AX</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_BE" id="cthr_pneumokon_symb_BE">BE</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_BR" id="cthr_pneumokon_symb_BR">BR</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_BU" id="cthr_pneumokon_symb_BU">BU</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_CA" id="cthr_pneumokon_symb_CA">CA</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_CG" id="cthr_pneumokon_symb_CG">CG</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_CV" id="cthr_pneumokon_symb_CV">CV</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_DI" id="cthr_pneumokon_symb_DI">DI</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_DO" id="cthr_pneumokon_symb_DO">DO</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_EF" id="cthr_pneumokon_symb_EF">EF</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_ES" id="cthr_pneumokon_symb_ES">ES</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="cthr_pneumokon_symb_FP" id="cthr_pneumokon_symb_FP">FP</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_FR" id="cthr_pneumokon_symb_FR">FR</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_HI" id="cthr_pneumokon_symb_HI">HI</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_ME" id="cthr_pneumokon_symb_ME">ME</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_MP" id="cthr_pneumokon_symb_MP">MP</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_OD" id="cthr_pneumokon_symb_OD">OD</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_PB" id="cthr_pneumokon_symb_PB">PB</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_RA" id="cthr_pneumokon_symb_RA">RA</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_SC" id="cthr_pneumokon_symb_SC">SC</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_TB" id="cthr_pneumokon_symb_TB">TB</td>
                <td><input type="checkbox" name="cthr_pneumokon_symb_TD" id="cthr_pneumokon_symb_TD">TD</td>
            </tr>
        </table>
        
        </div>
        
        <p>Ergänzendes</p>
        
        <table>
            <tr>
                <td><textarea name="ct_pneumokoniose_sonst" id="ct_pneumokoniose_sonst"></textarea></td>
            </tr>
        </table>
        
    </section>
    
    <hr>

    <section data-section-name="Beurteilung">
        <header class="level1" data-english="Impression">Beurteilung</header>
        
        <table>
            <tr>
                <td><textarea name="ct_pneumokoniose_beurt" id="ct_pneumokoniose_beurt"></textarea></td>
            </tr>
        </table>
        
    </section>
    
    <p>
        Literatur: Hering, et al. - <a href="http://download.springer.com/static/pdf/119/art%253A10.1007%252Fs00117-014-2674-y.pdf?originUrl=http%3A%2F%2Flink.springer.com%2Farticle%2F10.1007%2Fs00117-014-2674-y&token2=exp=1459023659~acl=%2Fstatic%2Fpdf%2F119%2Fart%25253A10.1007%25252Fs00117-014-2674-y.pdf%3ForiginUrl%3Dhttp%253A%252F%252Flink.springer.com%252Farticle%252F10.1007%252Fs00117-014-2674-y*~hmac=5935d6a0e86f3be509e67512aa18c027e4de64258be021fb8ea4967feceefaa4">Link zur Publikation</a>
    </p>

</body>
</html>