<!DOCTYPE html>
<html>
<head>
    <title>MRT Rektum-Ca</title>
    <meta charset="UTF-8">
    <!--Dublin Core metadata elements here-->
    <meta name="dcterms.title" content="MRT Rektum-Ca">
    <meta name="dcterms.description" content="Befundungstemplate für Rektumkarzinom (L2, Version 1, kein Javascript)">
    <meta name="dcterms.identifier" content="DRG.mr.rectca">
    <meta name="dcterms.type" content="IMAGE_REPORT_TEMPLATE">
    <meta name="dcterms.language" content="de">
    <meta name="dcterms.rights" content="May be used freely, subject to license agreement">
    <meta name="dcterms.license" content="http://www.radreport.org/license.pdf">
    <meta name="dcterms.date" content="2017-04-24">
    <meta name="dcterms.creator" content="Pinto dos Santos D">
    <meta name="dcterms.contributor" content="AG Onkologische Bildgebung">
    <meta name="dcterms.publisher" content="Deutsche Röntgengesellschaft (DRG)">
    <!--Link to Stylesheet-->
    <script type="text/xml">
        <!--
        <template_attributes>
        <top-level-flag>0</top-level-flag>
        <status>ACTIVE</status>
        <coding_schemes>
            <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
        </coding_schemes>
        <coded_content>
        <entry ORIGTXT="mr_rectalca_clininfo">
            <term>
                <code meaning="Clinical information" value="RID13166" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_postneoadj">
            <term>
                <code meaning="Clinical information" value="RID13166" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_postneoadj_info">
            <term>
                <code meaning="Clinical information" value="RID13166" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_postneoadj">
            <term>
                <code meaning="Chemotherapy" value="RID39252" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_postneoadj_info">
            <term>
                <code meaning="Chemotherapy" value="RID39252" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_comparison">
            <term>
                <code meaning="Comparison" value="RID28483" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_comparison_info">
            <term>
                <code meaning="Comparison" value="RID28483" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_T">
            <term>
                <code meaning="colorectal cancer" value="RID45684" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_T">
            <term>
                <code meaning="tumor stage" value="RID39273" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_lokalisation">
            <term>
                <code meaning="location" value="RID39038" scheme="RadLex" />
            </term>
        </entry>
        <entry ORIGTXT="mr_rectalca_stumor">
            <term>
                <code meaning="length" value="RID39123" scheme="RadLex" />
            </term>
        </entry>
        </coded_content>
        </template_attributes>
		-->
    </script>
    <!--Link to Stylesheet-->
    <style type="text/css">
        textarea { width:500px; height: 50px; }
        td { padding-right: 15px; vertical-align: top;}
    </style>
</head>
    
<body>
    
    <section data-section-name="Clinical information">
        <header class="level1" data-english="Clinical information">Klinische Angaben</header>
        <p>
            <textarea name="mr_rectalca_clininfo" id="mr_rectalca_clininfo"></textarea>
        </p>
        <table>
            <tr>
                <td><label for="mr_rectalca_histol">Histologie</label></td>
                <td>
                    <select name="mr_rectalca_histol" id="mr_rectalca_histol">
                        <option value="0" label="ausstehend">0</option>
                        <option value="1" label="gesichert">1</option>
                    </select>
                </td>
                <td><input name="mr_rectalca_histol_info" id="mr_rectalca_histol_info"></td>
            </tr>
            <tr>
                <td><label for="mr_rectalca_postneoadj">neoadjuvante Vorbehandlung</label></td>
                <td>
                    <select name="mr_rectalca_postneoadj" id="mr_rectalca_postneoadj">
                        <option value="0" label="nein">0</option>
                        <option value="1" label="ja">1</option>
                    </select>
                </td>
                <td><input name="mr_rectalca_postneoadj_info" id="mr_rectalca_postneoadj_info"></td>
            </tr>
        </table>
    </section>
    
    <hr>
    
    <section data-section-name="Clinical question">
        <header class="level1" data-english="Clinical question">Fragestellung</header>
        <p>
            <textarea name="mr_rectalca_Fragestellung" id="mr_rectalca_Fragestellung"></textarea>
        </p>
    </section>
    
    <hr>
    
    <section data-section-name="Findings">
        <header class="level1" data-english="Findings">Befund</header>
        <table>
            <tr>
                <td><label for="mr_rectalca_comparison">Vergleichsuntersuchung:</label></td>
                <td>
                    <select name="mr_rectalca_comparison" id="mr_rectalca_comparison">
                        <option value="0" label="keine">0</option>
                        <option value="1" label="vorliegend">1</option>
                    </select>&nbsp;&nbsp;&nbsp;
                    <select name="mr_rectalca_comparison_mod" id="mr_rectalca_comparison_mod">
                        <option value="-1" label="-">-1</option>
                        <option value="0" label="CT">0</option>
                        <option value="1" label="MR">1</option>
                    </select>&nbsp;&nbsp;&nbsp;
                    <input name="mr_rectalca_comparison_date" id="mr_rectalca_comparison_date" type="date">
                </td>
            </tr>
            <tr>
                <td><label for="mr_rectalca_quality">Bildqualität:</label></td>
                <td>
                    <select name="mr_rectalca_quality" id="mr_rectalca_quality">
                        <option value="0" label="exzellent">0</option>
                        <option value="1" label="mittel">1</option>
                        <option value="2" label="schlecht">2</option>
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Rektumkarzinom (T)</td>
                <td>
                    <table>
                        <tr id="tlokalisation">
                            <td>
                                <label for="mr_rectalca_lokalisation">Tumorlokalisation</label></td>
                            <td>
                                <select id="mr_rectalca_lokalisation" name="mr_rectalca_lokalisation">
                                    <option value="-1" label="- (keine Angabe)">-1</option>
                                    <option value="0" label="unteres Drittel (0-6cm ab ano)">0</option>
                                    <option value="1" label="mittleres Drittel (6-12cm ab ano)">1</option>
                                    <option value="2" label="oberes Drittel (12-16cm ab ano)">2</option>
                                </select>&nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_lokalisation_info" name="mr_rectalca_lokalisation_info" title="Ergänzende Informationen (bspw. Serie / Bildnummer)">
                            </td>
                        </tr>
                        <tr id="danokutan">
                            <td>
                                <label for="mr_rectalca_danokutan">Distanz zur Anokutan-Linie</label>
                            </td>
                            <td>
                                <input id="mr_rectalca_danokutan" name="mr_rectalca_danokutan" type="number" step="0.1" min="0" max="20" title="Distanz zur Unterkante des Spinkter internus/ Anus">cm
                            </td>
                        </tr>
                        <tr id="tumorausd">
                            <td><label for="mr_rectalca_stumor">Tumorausdehnung (Länge)</label></td>
                            <td><input id="mr_rectalca_stumor" name="mr_rectalca_stumor" type="number" step="0.1" min="0" max="20">cm</td>
                        </tr>
                        <tr id="tzirkum">
                            <td><label for="mr_rectalca_zirkumvon">Zirkumferenz in SSL</label></td>
                            <td>
                                von <input id="mr_rectalca_zirkumvon" name="mr_rectalca_zirkumvon" type="number" step="1" min="1" max="12">h bis <input id="mr_rectalca_zirkumbis" name="mr_rectalca_zirkumbis" type="number" step="1" min="1" max="12">h SSL
                            </td>
                        </tr>
                        <tr>
                            <td><label for="mr_rectalca_T">Tumorinfiltration</label></td>
                            <td>
                                <select id="mr_rectalca_T" name="mr_rectalca_T" title="Besonderheit Spinkterkomplex im unteren Drittel!!
T2: Infiltration M. sphincter internus / T3: Infiltration M. sphincter externus und/oder M. levator ani / T4: Infiltration von benachtbarten Beckenstrukturen">
                                    <option value="-1" label="Tx (Tumor nicht beurteilbar)">-1</option>
                                    <option value="0" label="T0 (kein Anhalt für Tumor)">0</option>
                                    <option value="1" label="T1 (Infiltration Submukosa)">1</option>
                                    <option value="2" label="T2 (Infiltration Muscularis propria)">2</option>
                                    <option value="3" label="T3ab (Infiltration Mesorektum <5mm)">3</option>
                                    <option value="4" label="T3cd (Infiltration Mesorektum >5mm)">4</option>
                                    <option value="5" label="T4a (Infiltration viszerales Peritoneum)">5</option>
                                    <option value="6" label="T4b (Infiltration Nachbarorgane)">6</option>
                                </select>
                                <br />
                                bei <input id="mr_rectalca_T_text_ssl" name="mr_rectalca_T_text_ssl" type="number" step="1" min="1" max="12">h SSL&nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_T_text" name="mr_rectalca_T_text" title="Ergänzende Informationen (bspw. Serie / Bildnummer oder bei T4b Infiltration von Dünndarm / Harnblase / Ureter rechts links / Samenblase rechts links / Prostata / Uterus / Ovar/Adnexe rechts links / Vagina / M. obturatorius internus rechts links / M. levator ani rechts links / A.V. iliaca internus rechts links / A.V. iliaca externus rechts links / Os sacrum / Andere)">
                            </td>
                        </tr>
                        <tr id="T+_crm">
                            <td><label for="mr_rectalca_CRMT">Abstand zur mesorektalen Faszie</label></td>
                            <td>
                                <select id="mr_rectalca_CRMT" name="mr_rectalca_CRMT">
                                    <option value="-1" label="CRMx (Resektionsrand nicht beurteilbar)">-1</option>
                                    <option value="0" label="CRM- (&gt; 1mm, nach CTX/RTX &gt; 2mm)">0</option>
                                    <option value="2" label="CRM+ (&le; 1mm, nach CTX/RTX &le; 2mm)">2</option>
                                </select>
                                <br />
                                bei <input id="mr_rectalca_CRMT_text_ssl" name="mr_rectalca_CRMT_text_ssl" type="number" step="1" min="1" max="12">h SSL&nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_CRMT_text" name="mr_rectalca_CRMT_text" title="Ergänzende Informationen (bspw. Serie / Bildnummer)">
                            </td>
                        </tr>
                        <tr id="T+_venen">
                            <td><label for="mr_rectalca_venenT">Veneninfiltration</label></td>
                            <td>
                                <select id="mr_rectalca_venenT" name="mr_rectalca_venenT">
                                    <option value="-1" label="nicht beurteilbar">-1</option>
                                    <option value="0" label="nein">0</option>
                                    <option value="2" label="ja"></option>
                                </select>&nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_venenT_text" name="mr_rectalca_venenT_text" title="Ergänzende Informationen (bspw. Serie / Bildnummer)">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Lymphknoten lokal (N)</td>
                <td>
                    <table>
                        <tr>
                            <td><label for="mr_rectalca_N">mesorektal / präsakral</label></td>
                            <td>
                                <select id="mr_rectalca_N" name="mr_rectalca_N">
                                    <option value="-1" label="Nx (Lymphknoten nicht beurteilbar)">-1</option>
                                    <option value="0" label="N0 (keine suspekten Lymphknoten)">0</option>
                                    <option value="1" label="N+ (suspekte Lymphknoten mesorektal <3)">1</option>
                                    <option value="2" label="N+ (suspekte Lymphknoten mesorektal >3)">2</option>
                                </select>
                                <br />
                                max. <input id="imr_rectalca_N_maxD" name="imr_rectalca_N_maxD" type="number" step="0.1" min="0" max="10">cm bei <input id="imr_rectalca_N_ssl" name="imr_rectalca_N_ssl" type="number" step="1" min="1" max="12">h SSL &nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_N_text" name="mr_rectalca_N_text" title="Ergänzende Informationen (bspw. Serie / Bildnummer)">
                            </td>
                        </tr>
                        <tr id="N+_crm">
                            <td><label for="mr_rectalca_CRMN">Abstand zur mesorektalen Faszie</label></td>
                            <td>
                                <select id="mr_rectalca_CRMN" name="mr_rectalca_CRMN">
                                    <option value="-1" label="CRMx (Resektionsrand nicht beurteilbar)">-1</option>
                                    <option value="0" label="CRM- (&gt; 1mm, nach CTX/RTX &gt; 2mm)">0</option>
                                    <option value="2" label="CRM+ (&le; 1mm, nach CTX/RTX &le; 2mm)">2</option>
                                </select>
                                <br />
                                bei <input id="mr_rectalca_CRMN_text_ssl" name="mr_rectalca_CRMN_text_ssl" type="number" step="1" min="1" max="12">h SSL&nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_CRMN_text" name="mr_rectalca_CRMN_text" title="Ergänzende Informationen (bspw. Serie / Bildnummer)">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Fernmetastasen (M)</td>
                <td>
                    <table>
                        <tr>
                            <td><label for="mr_rectalca_LKextra">Lymphknoten extramesorektal</label></td>
                            <td>
                                <select id="mr_rectalca_LKextra" name="mr_rectalca_LKextra">
                                    <option value="-1" label="- (keine Angaben)">-1</option>
                                    <option value="0" label="nicht suspekt">0</option>
                                    <option value="1" label="metastasensuspekt (M1)">1</option>
                                </select>&nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_LKextra_text" name="mr_rectalca_LKextra_text" title="Ergänzende Informationen (bspw. Serie / Bildnummer oder hier rechts / links: parailiakal interna / externa / retroperitoneal)">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="mr_rectalca_Aszites">Aszitis</label></td>
                            <td>
                                <select name="mr_rectalca_Aszites" id="mr_rectalca_Aszites">
                                    <option value="-1" label="- (keine Angaben)"></option>
                                    <option value="0" label="nein">0</option>
                                    <option value="1" label="ja">1</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="mr_rectalca_Periton">Peritoneum</label></td>
                            <td>
                                <select id="mr_rectalca_Periton" name="mr_rectalca_Periton" onchange="createTNM()">
                                    <option value="-1" label="- (keine Angaben)">-1</option>
                                    <option value="0" label="normal">0</option>
                                    <option value="1" label="Peritonealkarzinose (M1c)">1</option>
                                </select>&nbsp;&nbsp;&nbsp;
                                <input id="mr_rectalca_Periton_text" name="mr_rectalca_Periton_text" title="Ergänzende Informationen (bspw. Serie / Bildnummer oder hier Lokalisation)">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="mr_rectalca_becken">Beckenstrukturen</label></td>
                            <td>
                                <select name="mr_rectalca_becken" id="mr_rectalca_becken" onchange="createTNM()">
                                    <option value="-1" label="- (keine Angaben)">-1</option>
                                    <option value="0" label="unauffällig">0</option>
                                    <option value="1" label="auffällig (siehe unten)">1</option>
                                    <option value="2" label="metastasensuspekt (M1)">2</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="mr_rectalca_skelett">Skelett</label></td>
                            <td>
                                <select name="mr_rectalca_skelett" id="mr_rectalca_skelett" onchange="createTNM()">
                                    <option value="-1" label="- (keine Angaben)">-1</option>
                                    <option value="0" label="unauffällig">0</option>
                                    <option value="1" label="auffällig (siehe unten)">1</option>
                                    <option value="2" label="metastasensuspekt (M1)">2</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><label for="mr_rectalca_sonstiges">Sonstige Befunde</label></td>
                <td>
                    <textarea name="mr_rectalca_sonstiges" id="mr_rectalca_sonstiges"></textarea>
                </td>
            </tr>
        </table>
        
    </section>
    
    <hr>
    
    <section data-section-name="Beurteilung">
        <header class="level2" data-english="Impression">Beurteilung</header>
        <table>
            <tr>
                <td></td>
                <td>
                    <select id="mr_rectalca_certainty" name="mr_rectalca_certainty">
                        <option value="-1" label="-">-1</option>
                        <option value="5" label="sehr sicher">5</option>
                        <option value="4" label="sicher">4</option>
                        <option value="3" label="indifferent">3</option>
                        <option value="2" label="unsicher">2</option>
                        <option value="1" label="sehr unsicher">1</option>
                    </select>
                </td>
            </tr>
        </table>
        <p>
            <textarea name="mr_rectalca_Beurteilung" id="mr_rectalca_Beurteilung" data-english-name="Impression" title="Text bitte entsprechend Befund ergänzen / ändern!"></textarea>
        </p>
        <p><label for="mr_rectalca_TNM">Insgesamt TNM</label>: <input id="mr_rectalca_TNM" name="mr_rectalca_TNM" title="Bitte Format: mrT__N__M__ (CRM+/-)"></p>
    </section>
    
</body>
</html>
