<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta content="US Abdomen" name="dcterms.title"/>
<meta content="US Abdomen template :: Authored by Nisenbaum HL, et al." name="dcterms.description"/>
<meta content="http://www.radreport.org/template/0000087" name="dcterms.identifier"/>
<meta content="en" name="dcterms.language"/>
<meta content="IMAGE_REPORT_TEMPLATE" name="dcterms.type"/>
<meta content="Radiological Society of North America (RSNA)" name="dcterms.publisher"/>
<meta content="May be used gratis, subject to license agreement" name="dcterms.rights"/>
<meta content="http://www.radreport.org/license.pdf" name="dcterms.license"/>
<meta content="2012-07-19" name="dcterms.date"/>
<meta content="Nisenbaum HL, et al." name="dcterms.creator"/>
<meta content="Kahn CE Jr [editor]" name="dcterms.contributor"/>
<meta content="Society of Radiologists in Ultrasound (SRU)" name="dcterms.contributor"/>
<link rel="stylesheet" type="text/css" href="IHE_Template_Style.css"/>
<!-- The absolute link to the CSS file is http://www.radreport.org/html/IHE_Template_Style.css -->
<script type="text/xml">
<!--
<template_attributes>
<top-level-flag>true</top-level-flag>
<status>ACTIVE</status>
<coding_schemes>
 <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
 <coding_scheme name="SNOMEDCT" designator="2.16.840.1.113883.6.96" />
 <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
</coding_schemes>
<term>
 <code meaning="abdomen" value="RID56" scheme="RadLex">
</term>
<term>
 <code meaning="ultrasound" value="RID10326" scheme="RadLex">
</term>
<coded_content>
<entry ORIGTXT="T87_3">
 <term>
  <code meaning="clinical information" value="RID13166" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_10">
 <term>
  <code meaning="comparison" value="RID28483" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_15">
  <term>
  <code meaning="Size (attribute)" value="246115007" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_19">
 <term>
  <code meaning="measurement" value="RID10409" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_22">
 <term>
  <code meaning="echogenicity characteristic" value="RID6045" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_26">
 <term>
  <code meaning="contour" value="RID5957" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_29">
 <term>
  <code meaning="mass" value="RID3874" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_81">
  <term>
  <code meaning="Cystic dilation of intrahepatic duct (disorder)" value="307133008" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_83">
 <term>
  <code meaning="diameter" value="RID13432" scheme="RadLex">
 </term>
 <term>
  <code meaning="common bile duct" value="RID199" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_85">
 <term>
  <code meaning="gallbladder" value="RID187" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_89">
  <term>
  <code meaning="Cholelithiasis without obstruction (disorder)" value="70342003" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_92">
  <term>
  <code meaning="Sludge (morphologic abnormality)" value="44901006" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_95">
 <term>
  <code meaning="gallbladder" value="RID187" scheme="RadLex">
 </term>
 <term>
  <code meaning="wall" value="RID5987" scheme="RadLex">
 </term>
 <term>
  <code meaning="thickening" value="RID28509" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_98">
 <term>
  <code meaning="fluid" value="RID1547" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_101">
 <term>
  <code meaning="Murphy&#039;s sign (finding)" value="53566005" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_106">
 <term>
  <code meaning="head of pancreas" value="RID171" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_114">
 <term>
  <code meaning="body of pancreas" value="RID174" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_126">
 <term>
  <code meaning="size descriptor" value="RID5772" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_130">
  <term>
  <code meaning="On examination - splenomegaly (finding)" value="164162005" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_131">
 <term>
  <code meaning="none" value="RID28454" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_132">
 <term>
  <code meaning="mild" value="RID5671" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_133">
 <term>
  <code meaning="moderate" value="RID5672" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_134">
 <term>
  <code meaning="severe" value="RID5673" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_141">
 <term>
  <code meaning="normal" value="RID13173" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_142">
  <term>
  <code meaning="Hydronephrosis (disorder)" value="43064006" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_143">
 <term>
  <code meaning="none" value="RID28454" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_144">
 <term>
  <code meaning="mild" value="RID5671" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_145">
 <term>
  <code meaning="moderate" value="RID5672" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_146">
 <term>
  <code meaning="severe" value="RID5673" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_147">
  <term>
  <code meaning="Size (attribute)" value="246115007" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_150">
 <term>
  <code meaning="normal" value="RID13173" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_151">
  <term>
  <code meaning="Hydronephrosis (disorder)" value="43064006" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_152">
 <term>
  <code meaning="none" value="RID28454" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_153">
 <term>
  <code meaning="mild" value="RID5671" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_154">
 <term>
  <code meaning="moderate" value="RID5672" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_155">
 <term>
  <code meaning="severe" value="RID5673" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_156">
  <term>
  <code meaning="Size (attribute)" value="246115007" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_157">
 <term>
  <code meaning="inferior vena cava" value="RID1178" scheme="RadLex">
 </term>
 <term>
  <code meaning="abdominal aorta" value="RID905" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_159">
  <term>
  <code meaning="Ascites (disorder)" value="389026000" scheme="SNOMEDCT">
 </term>
</entry>
<entry ORIGTXT="T87_160">
 <term>
  <code meaning="none" value="RID28454" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_161">
 <term>
  <code meaning="mild" value="RID5671" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_162">
 <term>
  <code meaning="moderate" value="RID5672" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_163">
 <term>
  <code meaning="severe" value="RID5673" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T87_321">
 <term>
  <code meaning="impression section" value="RID13170" scheme="RadLex">
 </term>
</entry>
</coded_content>
</template_attributes>
-->
</script>
<title>US Abdomen</title>
</head>
<body>
<section data-section-name="Procedure">
<header class="level1">US Abdomen</header>
</section>
<section data-section-name="Clinical information">
<header class="level1">Clinical information</header>
<p>
<textarea id="T87_3" name="Clinical information"> </textarea>
</p>
</section>
<section data-section-name="Comparison">
<header class="level1">Comparison</header>
<p>
<textarea id="T87_10" name="Comparison">None. </textarea>
</p>
</section>
<section data-section-name="Findings">
<header class="level1">Findings</header>
<section data-section-name="Liver">
<header class="level2">Liver</header>
<p>
<label for="T87_15">Size:</label>
<input type="text" id="T87_15" name="Size" value="Normal."/>
</p>
<p>
<label for="T87_19">Craniocaudal length:</label>
<input type="number" id="T87_19" name="Craniocaudal length" data-field-units="cm" min="0" max=""/> cm
</p>
<p>
<label for="T87_22">Echogenicity:</label>
<input type="text" id="T87_22" name="Echogenicity" value="Normal."/>
</p>
<p>
<label for="T87_26">Surface nodularity:</label>
<select id="T87_26" name="Surface nodularity">
<option id="T87_26.1" name="None" value="None">None</option>
<option id="T87_26.2" name="Mild" value="Mild">Mild</option>
<option id="T87_26.3" name="Moderate" value="Moderate">Moderate</option>
<option id="T87_26.4" name="Severe" value="Severe">Severe</option>
</select>
</p>
<p>
<label for="T87_29">Mass (size and location):</label>
<input type="text" id="T87_29" name="Mass" value="None."/>
</p>
</section>
<section data-section-name="Bile ducts">
<header class="level2">Bile ducts</header>
<p>
<label for="T87_81">Intrahepatic ducts:</label>
<input type="text" id="T87_81" name="Intrahepatic ducts" value="Normal."/>
</p>
<p>
<label for="T87_83">Common bile duct diameter:</label>
<input type="number" id="T87_83" name="CBD" value="" min="0" step="1" data-field-units="mm"/> <label for="T87_83">mm</label>
</p>
</section>
<section data-section-name="Gallbladder">
<header class="level2">Gallbladder</header>
<p>
<select id="T87_85" name="Gallbladder">
<option id="T87_85.1" name="Normal" value="Normal">Normal</option>
<option id="T87_85.2" name="Absent" value="Absent">Prior cholecystectomy</option>
<option id="T87_85.3" name="Not seen" value="Not seen">Not seen</option>
<option id="T87_85.4" name="Abnormal" value="Abnormal">Abnormal</option>
</select>
</p>
<p>
<label for="T87_89">Gallstones:</label>
<input type="text" id="T87_89" name="Gallstones" value="None."/>
</p>
<p>
<label for="T87_92">Gallbladder sludge:</label>
<input type="text" id="T87_92" name="Gallbladder sludge" value="None."/>
</p>
<p>
<label for="T87_95">Gallbladder wall thickening:</label>
<input type="text" id="T87_95" name="Gallbladder wall thickening" value="None."/>
</p>
<p>
<label for="T87_98">Pericholecystic fluid:</label>
<input type="text" id="T87_98" name="Pericholecystic fluid" value="None."/>
</p>
<p>
<label for="T87_101">Sonographic Murphy sign:</label>
<input type="text" id="T87_101" name="Murphy sign" value="Absent."/>
</p>
</section>
<section data-section-name="Pancreas">
<header class="level2">Pancreas</header>
<p>
<label for="T87_106">Head and uncinate process:</label>
<input type="text" id="T87_106" name="Head and uncinate process" value="Normal."/>
</p>
<p>
<label for="T87_114">Body and tail:</label>
<input type="text" id="T87_114" name="Body and tail" value="Not seen."/>
</p>
</section>
<section data-section-name="Spleen">
<header class="level2">Spleen</header>
<p>
<label for="T87_130">Splenomegaly:</label>
<select id="T87_130" name="Splenomegaly">
<option id="T87_131" name="None" value="None">None</option>
<option id="T87_132" name="Mild" value="Mild">Mild</option>
<option id="T87_133" name="Moderate" value="Moderate">Moderate</option>
<option id="T87_134" name="Severe" value="Severe">Severe</option>
</select>
</p>
<p>
<label for="T87_126">Craniocaudal length:</label>
<input type="number" id="T87_126" name="Spleen length" value="" min="0" max="99" step="0.1" data-field-units="cm"/> <label for="T87_126">cm</label>
</p>
</section>
<section data-section-name="Right kidney">
<header class="level2">Right kidney</header>
<p>
<input type="text" id="T87_141" name="Right kidney" value="Normal."/>
</p>
<p>
<label for="T87_142">Hydronephrosis:</label>
<select id="T87_142" name="Hydronephrosis">
<option id="T87_143" name="None" value="None">None</option>
<option id="T87_144" name="Mild" value="Mild">Mild</option>
<option id="T87_145" name="Moderate" value="Moderate">Moderate</option>
<option id="T87_146" name="Severe" value="Severe">Severe</option>
</select>
</p>
<p>
<label for="T87_147">Size:</label>
<input type="text" id="T87_147" name="Size" value=""/> <label for="T87_147">cm</label>
</p>
</section>
<section data-section-name="Left kidney">
<header class="level2">Left kidney</header>
<p>
<input type="text" id="T87_150" name="Left kidney" value="Normal."/>
</p>
<p>
<label for="T87_151">Hydronephrosis:</label>
<select id="T87_151" name="Hydronephrosis">
<option id="T87_152" name="None" value="None">None</option>
<option id="T87_153" name="Mild" value="Mild">Mild</option>
<option id="T87_154" name="Moderate" value="Moderate">Moderate</option>
<option id="T87_155" name="Severe" value="Severe">Severe</option>
</select>
</p>
<p>
<label for="T87_156">Size:</label>
<input type="text" id="T87_156" name="Size" value=""/> <label for="T87_156">cm</label>
</p>
</section>
<section data-section-name="Abdominal aorta and IVC">
<header class="level2">Abdominal aorta and IVC</header>
<p>
<input type="text" id="T87_157" name="Abdominal aorta and IVC" value="Visualized portions are normal."/>
</p>
</section>
<section data-section-name="Ascites">
<header class="level2">Ascites</header>
<p>
<select id="T87_159" name="Ascites">
<option id="T87_160" name="None" value="None">None</option>
<option id="T87_161" name="Mild" value="Mild">Mild</option>
<option id="T87_162" name="Moderate" value="Moderate">Moderate</option>
<option id="T87_163" name="Severe" value="Severe">Severe</option>
</select>
</p>
</section>
</section>
<section data-section-name="Impression">
<header class="level1">Impression</header>
<p>
<textarea id="T87_321" name="Impression"> </textarea>
</p>
</section>
</body>
</html>
