<!DOCTYPE html>
<html>
<head>
    <title>Röntgen-Thorax auf Station</title>
    <meta charset="UTF-8">
    <!--Dublin Core metadata elements here-->
    <meta name="dcterms.title" content="Ultraschall nach FAST-Protokoll">
    <meta name="dcterms.description" content="Befundungstemplate für Ultraschall nach FAST-Protokoll (L1, Version 1, inkl. Javascript)">
    <meta name="dcterms.identifier" content="DRG.us.fast">
    <meta name="dcterms.type" content="IMAGE_REPORT_TEMPLATE">
    <meta name="dcterms.language" content="de">
    <meta name="dcterms.rights" content="May be used freely, subject to license agreement">
    <meta name="dcterms.license" content="http://www.radreport.org/license.pdf">
    <meta name="dcterms.date" content="2017-04-24">
    <meta name="dcterms.creator" content="Pinto dos Santos D">
    <meta name="dcterms.contributor" content="Arnhold G, Oberle R, Mildenberger P [editor]">
    <meta name="dcterms.publisher" content="Deutsche Röntgengesellschaft (DRG)">
    <!--Link to Stylesheet-->
    <script type="text/xml">
        <!--
        <template_attributes>
        <top-level-flag>0</top-level-flag>
        <status>ACTIVE</status>
        </template_attributes>
		-->
    </script>
    <!--Link to Stylesheet-->
    <style type="text/css">
        textarea { width:500px; height: 50px; }
        td { padding-right: 15px; vertical-align: top;}
    </style>
</head>
<body>
    
    <section data-section-name="Template">
        <header class="level1">FAST Sonographie</header>
    </section>
    
    <hr>

    <section data-section-name="Clinical information">
        <header class="level2" data-english="Clinical information">Klinische Angaben</header>
        <p>
            <textarea name="mz_us_fast_Angaben" id="mz_us_fast_Angaben"></textarea>
        </p>
    </section>
    
    <hr>
    
    <section data-section-name="Clinical question">
        <header class="level1" data-english="Clinical question">Fragestellung</header>
        <p>
            <textarea name="mz_us_fast_Fragestellung" id="mz_us_fast_Fragestellung">Freie Flüssigkeit?</textarea>
        </p>
    </section>
    
    <hr>
    
    <section data-section-name="Befunde">
        <header class="level2" data-english="Findings">Befund</header>
        <table>
            
            <tr>
                <td>
                    <label for="mz_us_fast_vergleich">Voruntersuchung:</label>
                </td>
                <td>
                    <select name="mz_us_fast_vergleich_select" id="mz_us_fast_vergleich_select" onchange="toggleField('mz_us_fast_vergleich_select', 'mz_us_fast_vergleich')">
                        <option value="0">keine</option>
                        <option value="1">vorliegend</option>
                    </select>
                    &nbsp;
                    <input name="mz_us_fast_vergleich" id="mz_us_fast_vergleich" disabled>
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="mz_us_fast_Perikard">Perikard</label>
                </td>
                <td>
                    <select name="mz_us_fast_Perikard" id="mz_us_fast_Perikard">
                        <option value="0">unauffällig</option>
                        <option value="1">Perikarderguss</option>
                    </select>
                </td>
            </tr>
                                
            <tr>
                <td>
                    <label for="mz_us_fast_Pleura">Pleura</label>
                </td>
                <td>
                    <select name="mz_us_fast_Pleura" id="mz_us_fast_Pleura">
                        <option value="0">unauffällig</option>
                        <option value="1">Pleuraerguß rechts</option>
                        <option value="2">Pleuraerguß links</option>
                        <option value="3">Pleuraerguß beidseits</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="mz_us_fast_Morison">Morison-Pouch</label>
                </td>
                <td>
                    <select name="mz_us_fast_Morison" id="mz_us_fast_Morison">
                        <option value="0">unauffällig</option>
                        <option value="1">freie Flüssigkeit</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="mz_us_fast_Koller">Koller-Pouch</label>
                </td>
                <td>
                    <select name="mz_us_fast_Koller" id="mz_us_fast_Koller">
                        <option value="0">unauffällig</option>
                        <option value="1">freie Flüssigkeit</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="mz_us_fast_Becken">Douglas-Raum / Recessus rectovesicalis</label>
                </td>
                <td>
                    <select name="mz_us_fast_Becken" id="mz_us_fast_Becken">
                        <option value="0">unauffällig</option>
                        <option value="1">freie Flüssigkeit</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="mz_us_fast_Sonstiges">Sonstiges</label>
                </td>
                <td>
                    <textarea name="mz_us_fast_Sonstiges" id="mz_us_fast_Sonstiges"></textarea>
                </td>
            </tr>
            
        </table>
        
    </section>
    
    <hr>
    
    <section data-section-name="Beurteilung">
        
        <header class="level2" data-english="Impression">Beurteilung</header>
        <p>
            <textarea name="mz_us_fast_Beurteilung" id="mz_us_fast_Beurteilung" data-field-completion-action="ALERT"></textarea>
        </p>
                
    </section>
    
</body>
</html>
