/* 
 * CSS file to be used for template: sample-valid.html 
 * 
 * @version 2.0.0
 * @author Thomas Hacklaender
 * @date 2018-06-10
 */

/* Indend nested tables */
section header.level1.embed-list1{display:block;font-weight:bold;font-size:12px;color:#0000ff;margin:0 0 10px 0 !important;padding:0;}
