/* 
 * CSS file to be used for template: embedded-level1.html 
 * 
 * @version 2.0.0
 * @author Thomas Hacklaender
 * @date 2018-06-14
 */

/* Indend nested tables */
section header.level1.embed1{display:block;font-weight:bold;font-size:12px;color:#ff0000;margin:0 0 10px 0 !important;padding:0;}
