<!DOCTYPE html>
<!-- Version: 2017-06-18 -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Second level embedded Datei zu 'test-valid.html'</title>
        <!--Dublin Core metadata elements here-->
        <meta name="dcterms.title" content="Second level embedded Datei" />
        <meta name="dcterms.abstract" content="Second level embedded Datei zu 'test-valid.html'" />
        <meta name="dcterms.description" content="Second level embedded Datei zu 'test-valid.html'" />
        <meta name="dcterms.subject" content="CR; CT; MR; NM; PET; US;" />
        <meta name="dcterms.identifier" content="041807.5.1806190905" />
        <meta name="dcterms.references" content="041807.5.1806190905" />
        <meta name="dcterms.date" content="2018-06-19" />
        <meta name="dcterms.publisher" content="IFTM GmbH" />
        <meta name="dcterms.creator" content="Hackländer, Thomas" />
        <meta name="dcterms.contributor" content="Hackländer, Thomas [Kodierung]" />
        <meta name="dcterms.type" content="IMAGE_REPORT_TEMPLATE" />
        <meta name="dcterms.language" content="de" />
        <meta name="dcterms.rights" content="GNU Affero General Public License" />
        <meta name="dcterms.license" content="http://www.gnu.org/licenses/" />

        <!--non-Dublin Core metadata attributes and term elements here-->
        <script type="text/xml">
             <template_attributes>
                <top-level-flag>true</top-level-flag>
                <status>ACTIVE</status>
                <user-list></user-list>
                <provider-grouplist></provider-grouplist>
            </template_attributes>
        </script>

        <!-- Do not use bold labels -->
        <style>
            label {font-weight: normal;}
        </style>

        <link rel="stylesheet" type="text/css" href="embedded-level2.css" />
    </head>

    <body>
        <section id="SE201" data-section-name="Eingebetteter Abschnitt Level 2" data-section-required="false">
            <header class="level1 embed2"><strong>Eingebetteter Abschnitt Level 2</strong></header>
            <p>
                <span>Dies ist eingebetteter Text Level 2 in einem span-Element.</span>
            </p>
            <p>
                <span>Im eingebetteten Inhalt können auch Bilder referenziert werden: </span>
                <img src="embedded-resources/img2.jpg" alt="[Eingebettetes Bild Level 2]" height="128" width="128" />
            </p>
        </section>
    </body>

</html>
