<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta content="CT Brain" name="dcterms.title"/>
<meta content="CT Brain template :: Authored by Flanders AE, et al." name="dcterms.description"/>
<meta content="http://www.radreport.org/template/0000004" name="dcterms.identifier"/>
<meta content="en" name="dcterms.language"/>
<meta content="IMAGE_REPORT_TEMPLATE" name="dcterms.type"/>
<meta content="Radiological Society of North America (RSNA)" name="dcterms.publisher"/>
<meta content="May be used gratis, subject to license agreement" name="dcterms.rights"/>
<meta content="http://www.radreport.org/license.pdf" name="dcterms.license"/>
<meta content="2012-03-28" name="dcterms.date"/>
<meta content="Flanders AE, et al." name="dcterms.creator"/>
<meta content="Bozkurt S [coder]" name="dcterms.contributor"/>
<meta content="Kahn CE Jr [editor]" name="dcterms.contributor"/>
<meta content="American Society of Neuroradiology (ASNR)" name="dcterms.contributor"/>
<link rel="stylesheet" type="text/css" href="IHE_Template_Style.css"/>
<!-- The absolute link to the CSS file is http://www.radreport.org/html/IHE_Template_Style.css -->
<script type="text/xml">
<!--
<template_attributes>
<top-level-flag>true</top-level-flag>
<status>ACTIVE</status>
<coding_schemes>
 <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
 <coding_scheme name="SNOMEDCT" designator="2.16.840.1.113883.6.96" />
 <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
</coding_schemes>
<term>
 <code meaning="brain" value="RID6434" scheme="RadLex">
</term>
<term>
 <code meaning="computed tomography" value="RID10321" scheme="RadLex">
</term>
<term>
 <code meaning="head" value="RID9080" scheme="RadLex">
</term>
<coded_content>
<entry ORIGTXT="T4_3">
 <term>
  <code meaning="contrast agent" value="RID11582" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_5">
 <term>
  <code meaning="clinical information" value="RID13166" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_10">
 <term>
  <code meaning="comparison" value="RID28483" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_13">
 <term>
  <code meaning="extraaxial" value="RID6380" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_16">
 <term>
  <code meaning="intracranial" value="RID6383" scheme="RadLex">
 </term>
 <term>
  <code meaning="hemorrhage" value="RID4700" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_23">
 <term>
  <code meaning="ventricular system of brain" value="RID13786" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_27">
 <term>
  <code meaning="interpeduncular cistern" value="RID7187" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_31">
 <term>
  <code meaning="telencephalon" value="RID6437" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_38">
 <term>
  <code meaning="midline" value="RID5826" scheme="RadLex">
 </term>
 <term>
  <code meaning="mechanical disorder" value="RID4738" scheme="RadLex">
 </term>
 <term>
  <code meaning="deviation position" value="RID10445" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_42">
 <term>
  <code meaning="cerebellum" value="RID6815" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_44">
 <term>
  <code meaning="brainstem" value="RID6677" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_46">
 <term>
  <code meaning="skull" value="RID9196" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_55">
 <term>
  <code meaning="paranasal sinuses" value="RID28579" scheme="RadLex">
 </term>
 <term>
  <code meaning="mastoid air cell" value="RID10144" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_58">
 <term>
  <code meaning="orbits" value="RID28601" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_60">
 <term>
  <code meaning="cervical spine region" value="RID28674" scheme="RadLex">
 </term>
 <term>
  <code meaning="spine" value="RID7741" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_62">
 <term>
  <code meaning="sella turcica" value="RID9286" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_64">
 <term>
  <code meaning="base of cranium" value="RID28731" scheme="RadLex">
 </term>
</entry>
<entry ORIGTXT="T4_127">
 <term>
  <code meaning="impression section" value="RID13170" scheme="RadLex">
 </term>
</entry>
</coded_content>
</template_attributes>
-->
</script>
<title>CT Brain</title>
</head>
<body>
<section data-section-name="Procedure">
<header class="level1">CT Brain</header>
<p>
<label for="T4_3">Contrast media:</label>
<input type="text" id="T4_3" name="Contrast media" value=""/>
</p>
</section>
<section data-section-name="Clinical information">
<header class="level1">Clinical information</header>
<p>
<textarea id="T4_5" name="Clinical information"> </textarea>
</p>
</section>
<section data-section-name="Comparison">
<header class="level1">Comparison</header>
<p>
<textarea id="T4_10" name="Comparison">None. </textarea>
</p>
</section>
<section data-section-name="Findings">
<header class="level1">Findings</header>
<p>
<label for="T4_13">Extra-axial spaces:</label>
<input type="text" id="T4_13" name="Extra-axial spaces" value="Normal. "/>
</p>
<p>
<label for="T4_16">Intracranial hemorrhage:</label>
<input type="text" id="T4_16" name="Intracranial hemorrhage" value="None."/>
</p>
<p>
<label for="T4_23">Ventricular system:</label>
<input type="text" id="T4_23" name="Ventricular system" value="Normal for age."/>
</p>
<p>
<label for="T4_27">Basal cisterns:</label>
<input type="text" id="T4_27" name="Basal cisterns" value="Normal."/>
</p>
<p>
<label for="T4_31">Cerebral parenchyma:</label>
<input type="text" id="T4_31" name="Cerebral parenchyma" value="Normal. "/>
</p>
<p>
<label for="T4_38">Midline shift:</label>
<input type="text" id="T4_38" name="Midline shift" value="None. "/>
</p>
<p>
<label for="T4_42">Cerebellum:</label>
<input type="text" id="T4_42" name="Cerebellum" value="Normal. "/>
</p>
<p>
<label for="T4_44">Brainstem</label>
<input type="text" id="T4_44" name="Brainstem" value="Normal."/>
</p>
<p>
<label for="T4_46">Calvarium</label>
<input type="text" id="T4_46" name="Calvarium" value="Normal. "/>
</p>
<p>
<label for="T4_52">Vascular system:</label>
<input type="text" id="T4_52" name="Vascular system" value="Normal. "/>
</p>
<p>
<label for="T4_55">Paranasal sinuses and mastoid air cells:</label>
<input type="text" id="T4_55" name="Paranasal sinuses" value="Clear. "/>
</p>
<p>
<label for="T4_58">Visualized orbits:</label>
<input type="text" id="T4_58" name="Visualized orbits" value="Normal. "/>
</p>
<p>
<label for="T4_60">Visualized upper cervical spine:</label>
<input type="text" id="T4_60" name="Visualized upper cervical spine" value="Normal."/>
</p>
<p>
<label for="T4_62">Sella:</label>
<input type="text" id="T4_62" name="Sella" value="Normal. "/>
</p>
<p>
<label for="T4_64">Skull base:</label>
<input type="text" id="T4_64" name="Skull base" value="Normal."/>
</p>
</section>
<section data-section-name="Impression">
<header class="level1">Impression</header>
<p>
<textarea id="T4_127" name="Impression">Normal. </textarea>
</p>
</section>
</body>
</html>
