<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta content="Chest Xray - 2 Views" name="dcterms.title"/>
<meta content="Chest Xray - 2 Views template :: Authored by Langlotz CP" name="dcterms.description"/>
<meta content="http://www.radreport.org/template/0000144" name="dcterms.identifier"/>
<meta content="en" name="dcterms.language"/>
<meta content="IMAGE_REPORT_TEMPLATE" name="dcterms.type"/>
<meta content="Radiological Society of North America (RSNA)" name="dcterms.publisher"/>
<meta content="May be used gratis, subject to license agreement" name="dcterms.rights"/>
<meta content="http://www.radreport.org/license.pdf" name="dcterms.license"/>
<meta content="2012-07-16" name="dcterms.date"/>
<meta content="Langlotz CP" name="dcterms.creator"/>

<meta content="Kahn CE Jr [editor]" name="dcterms.contributor"/>
<meta content="Penn Medicine | Hospital of the University of Pennsylvania (Penn)" name="dcterms.contributor"/>
<link rel="stylesheet" type="text/css" href="IHE_Template_Style.css"/>
<!-- The absolute link to the CSS file is http://www.radreport.org/html/IHE_Template_Style.css -->
<script type="text/xml">
<!--
<template_attributes>
<top-level-flag>true</top-level-flag>
<status>ACTIVE</status>
<coding_schemes>
 <coding_scheme name="RadLex" designator="2.16.840.1.113883.6.256" />
 <coding_scheme name="SNOMEDCT" designator="2.16.840.1.113883.6.96" />
 <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
</coding_schemes>
<term>
 <code meaning="projection radiography" value="RID10345" scheme="RadLex">
</term>
<term>
 <code meaning="thorax" value="RID1243" scheme="RadLex">
</term>
<coded_content>
<entry ORIGTXT="T144_5">
  <term>
  <code meaning="Clinical information" value="55752-0" scheme="LOINC">
 </term>
</entry>
</coded_content>
</template_attributes>
-->
</script>
<title>Chest Xray - 2 Views</title>
</head>
<body>
<section data-section-name="Procedure">
<header class="level1">Procedure</header>
<p>
<textarea id="T144_3" name="Procedure">PA and lateral views of the chest.</textarea>
</p>
</section>
<section data-section-name="Clinical information">
<header class="level1">Clinical information</header>
<p>
<textarea id="T144_5" name="Clinical information"></textarea>
</p>
</section>
<section data-section-name="Comparison">
<header class="level1">Comparison</header>
<p>
<textarea id="T144_6" name="Comparison" data-codedcontent-default-val="None" data-codedcontent-default-ref="T144_6">None.</textarea>
</p>
</section>
<section data-section-name="Findings">
<header class="level1">Findings</header>
<p>
<label for="T144_9">Lungs:</label>
<select id="T144_9" name="Lungs">
<option id="T144_9a" name="Clear" value="Clear">The lungs are clear.</option>
<option id="T144_9b" name="Low volume" value="Low volume">The inspiratory volumes are small, and this probably accounts for some vascular crowding and atelectasis at the bases.</option>
<option id="T144_9c" name="Right atelectasis" value="Right atelectasis">There is focal opacity at the right lung base most likely representing right lower lobe atelectasis.</option>
<option id="T144_9d" name="Right atelectasis and effusion" value="Right atelectasis and effusion">There is focal opacity at the right lung base most likely representing a combination of a moderate right pleural effusion and associated passive right lower lobe atelectasis.</option>
<option id="T144_9e" name="Left atelectasis" value="Left atelectasis">There is a focal opacity at the left lung base most like representing left lower lobe atelectasis.</option>
<option id="T144_9f" name="Left atelectasis and effusion" value="Left atelectasis and effusion">There is a focal opacity at the left lung base, characteristic of a combination of a moderate left pleural effusion and associated atelectasis.</option>
<option id="T144_9g" name="Bibasilar atelectasis" value="Bibasilar atelectasis">There is patchy opacity at both lung bases characteristic of atelectasis.</option>
<option id="T144_9h" name="Bibasilar atelectasis and effusion" value="Bibasilar atelectasis and effusion">There is patchy opacity at both lung bases characteristic of a combination of atelectasis and effusions.</option>
<option id="T144_9i" name="Mild Edema" value="Mild Edema">There is vascular congestion with increased interstitial markings findings indicating mild cardiogenic edema.</option>
<option id="T144_9j" name="Moderate edema" value="Moderate edema">There is vascular congestion with mixed interstitial and patchy alveolar opacities, findings indicating moderate cardiogenic edema.</option>
<option id="T144_9k" name="Severe edema" value="Severe edema">There is extensive alveolar consolidation in the lungs bilaterally, most likely representing pulmonary edema. This is probably on the basis of severe congestive heart failure but could be a result of noncardiogenic causes.</option>
<option id="T144_9l" name="Multifocal pneumonia" value="Multifocal pneumonia">There are multiple patchy areas of consolidation, widely scattered about the lungs bilaterally. This most likely represents a multifocal pneumonia.</option>
<option id="T144_9m" name="Everything" value="Everything">There is patchy opacity at both lung bases characteristic of a combination of atelectasis and effusions. There is mild vascular and interstitial prominence, likely reflecting mild pulmonary edema.</option>
<option id="T144_9n" name="Congestion" value="Congestion">There is mild pulmonary vascular engorgement without pulmonary edema.</option>
</select>
</p>
<p>
<label for="T144_24">Heart:</label>
<select id="T144_24" name="Heart">
<option id="T144_24a" name="Normal" value="Normal">The heart is normal in size.</option>
<option id="T144_24b" name="Mild" value="Mild">There is mild cardiomegaly.</option>
<option id="T144_24c" name="Moderate" value="Moderate">There is moderate cardiomegaly.</option>
<option id="T144_24d" name="Severe" value="Severe">There is severe cardiomegaly.</option>
<option id="T144_24e" name="Marked" value="Marked">There is marked cardiomegaly.</option>
<option id="T144_24f" name="Top" value="Top">The heart is top normal in size.</option>
</select>
</p>
<p>
<label>Mediastinum: </label>
<select id="T144_100" name="Mediastinum">
<option id="T144_100a" name="Normal" value="Normal">The mediastinum is within normal limits.</option>
<option id="T144_100b" name="Calcification" value="Calcification">Atherosclerotic calcifications are seen in the aorta.</option>
<option id="T144_100c" name="Tortuous" value="Tortuous">The aorta appears tortuous, a finding usually associated with either atherosclerosis or systemic hypertension.</option>
<option id="T144_100d" name="Aneurysm" value="Aneurysm">The aortic contour is quite prominent, a finding likely indicating either an aortic aneurysm or dissection.</option>
<option id="T144_100e" name="Post-op" value="Post-op">Post-operative changes are present in the mediastinum.</option>
<option id="T144_100f" name="DDD" value="DDD">Degenerative changes are present in the thoracic spine.</option>
</select>
</p>
</section>
<section data-section-name="Impression">
<header class="level1">Impression</header>
<p>
<select id="T144_101" name="Impression">
<option id="T144_101a" name="NAD" value="NAD">No active disease.</option>
<option id="T144_101b" name="Cardiomegaly" value="Cardiomegaly">Cardiomegaly.</option>
<option id="T144_101c" name="Mild edema" value="Mild edema">Mild cardiogenic edema.</option>
<option id="T144_101d" name="Moderate edema" value="Moderate edema">Moderate cardiogenic edema.</option>
<option id="T144_101e" name="Severe edema" value="Severe edema">Severe edema, probably cardiogenic.</option>
<option id="T144_101f" name="Atelectasis" value="Atelectasis">Atelectasis.</option>
<option id="T144_101g" name="Post-op" value="Post-op">Satisfactory post-operative status.</option>
<option id="T144_101h" name="Congestion" value="Congestion">Pulmonary vascular congestion.</option>
<option id="T144_101i" name="Low volume" value="Low volume">Low inspiratory volumes.</option>
</select>
</p>
</section>
</body>
</html>
