<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Normalbefund CT des Schädels nativ</title>
        <!--Dublin Core metadata elements here-->
        <meta name="dcterms.title" content="Normalbefund CT des Schädels nativ">
        <meta name="dcterms.abstract" content="Noramlbefund eines CT des Schädels nativ (L1, V1, no JS)">
        <meta name="dcterms.description" content="Befundbericht zu einer nativen CT Untersuchung des Schädels: ALtersentsprechender Normalbefund">
        <meta name="dcterms.subject" content="NR; CT;">
        <meta name="dcterms.identifier" content="041807.05.80528">
        <meta name="dcterms.references" content="041807.05.80528">
        <meta name="dcterms.date" content="2018-05-28">
        <meta name="dcterms.publisher" content="Deutsche Röntgengesellschaft (DRG)">
        <meta name="dcterms.creator" content="AG Informationstechnologie der DRG">
        <meta name="dcterms.contributor" content="Hackländer, Thomas [Kodierung]">
        <meta name="dcterms.type" content="IMAGE_REPORT_TEMPLATE">
        <meta name="dcterms.language" content="de">
        <meta name="dcterms.rights" content="(c) Deutsche Röntgengesellschaft e.V.(DRG). Die Vorlage kann kostenfrei unter der Creative Commons Lizenz  CC BY-NC-ND in der Version 4.0 verwendet werden.">
        <meta name="dcterms.license" content="http://www.befundung.drg.de/de-DE/3478/creative-commons-lizenz-cc-by-nc-nd">
        <!--Link to Stylesheet-->
        <link rel="stylesheet" type="text/css" href="us.css">
        <!--non-Dublin Core metadata attributes and term elements here-->
        <script type="text/xml">
             <template_attributes>
                <top-level-flag>true</top-level-flag>
                <status>ACTIVE</status>
                <user-list></user-list>
                <provider-grouplist></provider-grouplist>
                <coded_content>
                    <coding_schemes>
                        <!-- See: https://www.hl7.org/fhir/terminologies-systems.html -->
                        <coding_scheme name="RADLEX" designator="2.16.840.1.113883.6.256" />
                        <coding_scheme name="LOINC" designator="2.16.840.1.113883.6.1" />
                        <entry ORIGTXT="S001">
                            <term>
                                <code meaning="History" value="11329-0" scheme="LOINC" />
                            </term>
                        </entry>
                        <entry ORIGTXT="S002">
                            <term>
                                <code meaning="Indications for Procedure" value="18785-6" scheme="LOINC" />
                            </term>
                        </entry>
                        <entry ORIGTXT="S003">
                            <term>
                                <code meaning="Request" value="55115-0" scheme="LOINC" />
                            </term>
                        </entry>
                        <entry ORIGTXT="S004">
                            <term>
                                <code meaning="Findings" value="59776-5" scheme="LOINC" />
                            </term>
                        </entry>
                        <entry ORIGTXT="S005">
                            <term>
                                <code meaning="Impressions" value="19005-8" scheme="LOINC" />
                            </term>
                        </entry>
                        <entry ORIGTXT="S006">
                            <term>
                                <code meaning="Recommendations" value="18783-1" scheme="LOINC" />
                            </term>
                        </entry>
                    </coding_schemes>
                </coded_content>
            </template_attributes>
        </script>
    </head>
    <body>
        <section id="S001" data-section-name="Klinische Angaben" data-section-required="true">
            <header class="level1"><strong>Klinische Angaben</strong></header>
            <p></p>
            <table>
                <tr>
                    <td></td>
                    <td> <textarea id="TA001" rows="3" cols="80"></textarea> </td>
                </tr>
            </table>
        </section>
        <section id="S002" data-section-name="Medizinische Fragestellung" data-section-required="false">
            <header class="level1"><strong>Medizinische Fragestellung</strong></header>
            <p></p>
            <table>
                <tr>
                    <td></td>
                    <td> <textarea id="TA002" rows="3" cols="80"></textarea> </td>
                </tr>
            </table>
        </section>
        <section id="S003" data-section-name="Befundungsfragestellung" data-section-required="true">
            <header class="level1"><strong>Befundungsfragestellung</strong></header>
            <p></p>
            <table>
                <tr>
                    <td></td>
                    <td> <textarea id="TA003" rows="3" cols="80"></textarea> </td>
                </tr>
            </table>
        </section>
        <section id="S004" data-section-name="Beschreibung" data-section-required="false">
            <header class="level1"><strong>Beschreibung</strong></header>
            <p></p>
            <table>
                <!-- Zusätzlicher Freitext -->
                <tr>
                    <td></td>
                    <td> <textarea id="TA004" rows="3" cols="80"></textarea> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Großhirn" data-section-required="false">
                            <header class="level2">Großhirn</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                    <td>
                                        <section data-section-name="Hirnrinde" data-section-required="false">
                                            <header class="level3">Hirnrinde</header>
                                            <p></p>
                                            <table>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </section>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <section data-section-name="Markraum" data-section-required="false">
                                            <header class="level3">Markraum</header>
                                            <p></p>
                                            <table>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </section>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <section data-section-name="Ventrikelsystem" data-section-required="false">
                                            <header class="level3">Ventrikelsystem</header>
                                            <p></p>
                                            <table>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </section>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <section data-section-name="Interhemisphärenspalt" data-section-required="false">
                                            <header class="level3">Interhemisphärenspalt</header>
                                            <p></p>
                                            <table>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </section>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <section data-section-name="Stammganglienblock" data-section-required="false">
                                            <header class="level3">Stammganglienblock</header>
                                            <p></p>
                                            <table>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </section>
                                    </td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Kleinhirn" data-section-required="false">
                            <header class="level2">Kleinhirn</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Hirnstamm" data-section-required="false">
                            <header class="level2">Hirnstamm</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Intrakranielle Gefäße" data-section-required="false">
                            <header class="level2">Intrakranielle Gefäße</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Sella und Hypophyse" data-section-required="false">
                            <header class="level2">Sella und Hypophyse</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Felsenbein" data-section-required="false">
                            <header class="level2">Felsenbein</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Nasennebenhöhlen" data-section-required="false">
                            <header class="level2">Nasennebenhöhlen</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Orbita" data-section-required="false">
                            <header class="level2">Orbita</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <section data-section-name="Schädelkalotte" data-section-required="false">
                            <header class="level2">Schädelkalotte</header>
                            <p></p>
                            <table>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </section>
                    </td>
                </tr>
            </table>
        </section>
        <section id="S005" data-section-name="Beurteilung" data-section-required="true">
            <header class="level1"><strong>Beurteilung</strong></header>
            <p></p>
            <table>
                <!-- Zusätzlicher Freitext -->
                <tr>
                    <td></td>
                    <td> <textarea id="TA005" rows="3" cols="80"></textarea> </td>
                </tr>
            </table>
        </section>
        <section id="S006" data-section-name="Empfehlung" data-section-required="false">
            <header class="level1"><strong>Empfehlung</strong></header>
            <p></p>
            <table>
                <tr>
                    <td></td>
                    <td> <textarea id="TA006" rows="3" cols="80"></textarea> </td>
                </tr>
            </table>
        </section>
    </body>
</html>
