<!DOCTYPE html>
<!-- Version: 2018-06-25 -->
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Template zum Einfügen über eine Liste in 'test-valid.html'</title>      
        <!--Dublin Core metadata elements here-->
        <meta name="dcterms.title" content="First level embedded Datei" />
        <meta name="dcterms.abstract" content="First level embedded Datei zu 'test-valid.html'" />
        <meta name="dcterms.description" content="First level embedded Datei zu 'test-valid.html'" />
        <meta name="dcterms.subject" content="CR; CT; MR; NM; PET; US;" />
        <meta name="dcterms.identifier" content="041807.5.1806190912" />
        <meta name="dcterms.references" content="041807.5.1806190912" />
        <meta name="dcterms.date" content="2018-06-19" />
        <meta name="dcterms.publisher" content="IFTM GmbH" />
        <meta name="dcterms.creator" content="Hackländer, Thomas" />
        <meta name="dcterms.contributor" content="Hackländer, Thomas [Kodierung]" />
        <meta name="dcterms.type" content="IMAGE_REPORT_TEMPLATE" />
        <meta name="dcterms.language" content="de" />
        <meta name="dcterms.rights" content="GNU Affero General Public License" />
        <meta name="dcterms.license" content="http://www.gnu.org/licenses/" />

        <!--non-Dublin Core metadata attributes and term elements here-->
        <script type="text/xml">
             <template_attributes>
                <top-level-flag>true</top-level-flag>
                <status>ACTIVE</status>
                <user-list></user-list>
                <provider-grouplist></provider-grouplist>
            </template_attributes>
        </script>

        <!-- Do not use bold labels -->
        <style>
            label {font-weight: normal;}
        </style>

        <link rel="stylesheet" type="text/css" href="1.2.3.4.5.6.7.css" />
    </head>

    <body>
        <section id="SE101" data-section-name="Eingebetteter Abschnitt Level 1" data-section-required="false">
            <header class="level1 embed-list1"><strong>Eingebetteter Abschnitt Level 1</strong></header>
            <p>
                <span>Dies ist eingebetteter Text Level 1 in einem span-Element.</span>
            </p>
            <p>
                <span>Im eingebetteten Inhalt können auch Bilder referenziert werden: </span>
                <img src="1.2.3.4.5.6.7.jpg" alt="[Eingebettetes Bild]" height="128" width="128" />
            </p>
            <p>
                <span>Eingebetteter Inhalt kann ebenfalls einbetten:</span>
                <!-- Relative references must be given relative to the top-level template -->
                <embed src="embedded-templates/embedded-level1.html" type="text/html" height="60" />
            </p>
        </section>
    </body>

</html>
